body{
	background-image: url("sfondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    font-size: x-large;
    color: white;
    font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;

}
.center {
    margin: auto;
    width: 60%;
    border: 3px;
    padding: 10px;
}
td{
	vertical-align: top;
}
li{
	font-size: 15px;
	text-shadow: 2px 2px black;
}
h1{
	font-size: 28px;
	text-shadow: 2px 2px black;
}
h2{
	font-size: 20px;
	text-shadow: 2px 2px black;
}