body{
    font-size: xx-large;
    font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

#tabella-varianti{
    border: 2px solid black;
    border-collapse: collapse;
}