body{
    font-size: xx-large;
    font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

img{
    width: 250px;
    height: 175px;
}