html, body{
    max-width: 100%;
}

body{
    font-size: xx-large;
    font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

#firma{
    font-size: medium;
    font-weight: lighter;
}

#title-div{
    background-color:rgb(0, 102, 218);
    max-width: 100%;
    padding: 1%;
    text-align: left;
    vertical-align: middle;
    color: white;
    font-weight: bolder;
}

#italia, #mondo, #vaccini, #varianti{
    max-width: 100%;
    padding: 2%;
    margin: auto;
}

#description{
    font-size: 35px;
    max-width: 100%;
    padding: 8%;
    margin: auto;
    background-image: url(home-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 2px 2px black;
}

#italia{
    background-color: rgb(0, 102, 218);
    color: white;
}

#mondo{
    background-color: rgb(170, 170, 170);
    color: white;
}

#vaccini{
    background-color: rgb(0, 102, 218);
    color: white;
}

#varianti{
    background-color: rgb(170, 170, 170);
    color: white;
}

.subtitle{
    font-weight: bold;
}

.white-a{
    color: white;
}

.blue-a{
    color: rgb(0, 102, 218);
}